/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5d5151;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 70vh; /* Ensures the section takes at least the full viewport height */
}

h1, h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* New styles for button */
button {
    background-color: #f10606;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; 
}
.estimate{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;

}


button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.game-image {
    max-width: 50%; /* Ensures the image does not exceed its container width */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-bottom: 20px; /* Adjust the margin for spacing if needed */
    border-radius: 10px;
}
